astroid==2.11.7
DAWG-Python==0.7.2
dill==0.3.5.1
docopt==0.6.2
flake8==4.0.1
Flask==2.1.2
importlib-metadata==4.12.0
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.6.1
packaging==21.3
parso==0.8.3
platformdirs==2.5.2
pluggy==1.0.0
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pylint==2.14.4
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==3.0.9
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.4.1
pytoolconfig==1.2.1
rope==1.2.0
snowballstemmer==2.2.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.1
typing_extensions==4.3.0
ujson==5.4.0
Werkzeug==2.1.2
wrapt==1.14.1
yapf==0.32.0
zipp==3.8.0
